@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.wrapper {
  max-width: 1374px;
  margin: 0 auto;
  padding: 69px;
  width: 100%;
}

.header {
  background-color: #000000;
}

.header__contents {
  max-width: 1512px;
  padding: 15px 40px;
  margin: 0 auto;
  display: flex;
  gap: 96px;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
}

.header__logo {
  width: 100%;
}

.header__search {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  font-size: 2.4rem;
}

.header__btn {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__btnItem {
  color: #fff;
  font-size: 2.4rem;
  margin: 0;
}

.header__btnItem:last-child {
  background-color: #fff;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
}

.sectionTitle {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
}

.formBtnRed {
  background-color: #ff5555;
  color: #fff;
  border: none;
  font-size: 26px;
  font-weight: bold;
  padding: 16px;
  cursor: pointer;
  transition: all .3s;
  width: 100%;
}

.formBtnRed:hover {
  opacity: 0.8;
}

.formLink {
  text-align: center;
  font-size: 2rem;
  color: #0073cc;
  text-decoration: none;
  transition: all .3s;
}

.formLink:hover {
  opacity: 0.8;
}