@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.wrapper {
  max-width: 1374px;
  margin: 0 auto;
  padding: 69px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 40px 16px;
  }
}

.header {
  background-color: #000000;
}

.header__contents {
  max-width: 1512px;
  padding: 15px 1.7195767195767195vw;
  margin: 0 auto;
  display: flex;
  gap: min(6.349206349206349vw, 20px);
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__contents {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.header__title {
  margin: 0;
}

.header__logo {
  width: 24.47089947089947vw;
  max-width: 370px;
}

.header__search {
  max-width: 500px;
  width: 33.06878306878307vw;
  padding: 10px;
  font-size: min(1.5873015873015872vw, 2.4rem);
}

@media screen and (max-width: 768px) {
  .header__search {
    max-width: none;
    width: 100%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .header__search {
    font-size: 1.6rem;
  }
}

.header__searchPC {
  display: block;
}

@media screen and (max-width: 768px) {
  .header__searchPC {
    display: none;
  }
}

.header__searchSP {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__searchSP {
    display: block;
  }
}

.header__btnItem {
  margin: 0;
}

.header__btn {
  display: flex;
  /* gap: 21px; */
  gap: min(1.3888888888888888vw, 21px);
  align-items: center;
}

.header__loginBtn {
  border: none;
  background-color: unset;
  color: #fff;
  text-decoration: none;
  font-size: min(1.5873015873015872vw, 2.4rem);
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .header__loginBtn {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .header__loginBtn {
    font-size: 3.3333333333333335vw;
  }
}

.header__loginBtn:hover {
  opacity: 0.8;
}

.header__myLink {
  color: #fff;
  text-decoration: none;
  font-size: min(1.5873015873015872vw, 2.4rem);
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .header__myLink {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .header__myLink {
    font-size: 3.3333333333333335vw;
  }
}

.header__myLink:hover {
  opacity: 0.8;
}

.header__sellLink {
  background-color: #fff;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: min(1.5873015873015872vw, 2.4rem);
  text-decoration: none;
  transition: all .3s;
  border: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .header__sellLink {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .header__sellLink {
    font-size: 3.3333333333333335vw;
  }
}

.header__sellLink:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.sectionTitle {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .sectionTitle {
    font-size: 3.2rem;
  }
}

.formBtnRed {
  background-color: #ff5555;
  color: #fff;
  border: none;
  font-size: 2.6rem;
  font-weight: bold;
  padding: 16px;
  cursor: pointer;
  transition: all .3s;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .formBtnRed {
    font-size: 2.4rem;
  }
}

.formBtnRed:hover {
  opacity: 0.8;
}

.formLink {
  text-align: center;
  font-size: 2rem;
  color: #0073cc;
  text-decoration: none;
  transition: all .3s;
}

.formLink:hover {
  opacity: 0.8;
}

.form__error {
  color: #ff0000;
}