@charset "utf-8";

.top__select {
  border-bottom: 1px solid #000;
}

.top__tab {
  display: flex;
  gap: 48px;
  padding: 0;
  padding: 0 69px;
}

.top__tabList {
  font-size: 2.4rem;
}

.top__contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 72px;
}

.top__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top__itemImg {
  width: 100%;
}

.top__itemName {
  font-size: 2.4rem;
  margin: 0;
}