@charset "utf-8";

.item {
  display: flex;
  gap: 45px;
  align-items: flex-start;
}

.item__name {
  font-size: 4.5rem;
  font-weight: bold;
}

.item__subName {
  font-size: 2rem;
}

.item__price {
  font-size: 3rem;
}

.item__price--big {
  font-size: 4.5rem;
}

.item__click {
  display: flex;
  gap: 64px;
}

.item__title {
  font-size: 3.6rem;
  font-weight: bold;
}

.item__likeImg {
  width: 60px;
}

.item__commentUserImg {
  width: 100%;
}