@charset "utf-8";

.register__form {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 116px;
}

.register__formContents {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.register__item {
  display: flex;
  flex-direction: column;
}

.register__label {
  font-size: 2.4rem;
  font-weight: bold;
}

.register__input {
  height: 59px;
  font-size: 2.4rem;
}

.register__btn {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
}